@import "tailwindcss";

@font-face {
    font-family: "Fashioniqa";
    src: url("/fonts/Fashioniqa-X31Aa.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-size: 800;
  }

  @layer utilities {
    .classconfig {
      font-family: "Fashioniqa", sans-serif;
    }
    .classconfig-bold {
        text-shadow: 
          0.5px 0 0 currentColor,
          -0.5px 0 0 currentColor,
          0 0.5px 0 currentColor,
          0 -0.5px 0 currentColor;
      }
  }