@import "tailwindcss";

@font-face {
    font-family: "Fashioniqa";
    src: url("/fonts/Fashioniqa-X31Aa.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-size: 800;
  }
  .jpfont {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  @layer utilities {
    .classconfig {
      font-family: "Fashioniqa", sans-serif;
    }
    .classconfig-bold {
        text-shadow: 
          0.5px 0 0 currentColor,
          -0.5px 0 0 currentColor,
          0 0.5px 0 currentColor,
          0 -0.5px 0 currentColor;
      }
  }

/* Ảnh 1 */
.rotate1 {
  display: inline-block;
  animation: rotateJump1 1s steps(1) infinite;
  transform-origin: center;
}
@keyframes rotateJump1 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); } /* nhích lên */
  100% { transform: rotate(-5deg); } /* nhích xuống */
}

/* Ảnh 2 */
.rotate2 {
  display: inline-block;
  animation: rotateJump2 1.5s steps(1) infinite;
  transform-origin: center;
}
@keyframes rotateJump2 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(8deg); }
  100% { transform: rotate(-6deg); }
}

/* Ảnh 3 */
.rotate3 {
  display: inline-block;
  animation: rotateJump3 2s steps(1) infinite;
  transform-origin: center;
}
@keyframes rotateJump3 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(3deg); }
  100% { transform: rotate(-4deg); }
}
.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #f472b6; /* con trỏ nhấp nháy */
  animation: typing 3s steps(31, end) forwards, blink 8s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
